<div class="app-layout">
  <!-- Navbar ist immer da -->
  <app-navbar></app-navbar>

  <div class="content-wrapper">
    <!-- Lade-Screen -->
    @if (authService.loading()) {
      <div class="global-loading">...</div>
    } @else {

      <!-- Wir behalten das @if für die Security (Auth-Check) -->
      @if (authService.currentUser()) {
        <!-- Die Sidebar ist IMMER da, wenn der User eingeloggt ist, aber CSS steuert die Sichtbarkeit -->
        <app-sidebar [class.sidebar-hidden]="!isSidebarVisible()"></app-sidebar>
      }

      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    }
  </div>
</div>
