<div class="app-layout">
  <!-- Navbar ist immer da -->
  <app-navbar></app-navbar>

  <div class="content-wrapper">

    @if (authService.loading()) {
      <!-- Unser schicker Lade-Screen für die allererste Sekunde -->
      <div class="global-loading">
        <i class="fa-solid fa-satellite-dish fa-spin fa-3x"></i>
        <h2>Verbinde mit EVE Datenbank...</h2>
        <p>Autorisierung wird geprüft</p>
      </div>
    } @else {

      <!-- Wenn geladen: Sidebar rendern, falls eingeloggt -->
      @if (authService.currentUser()) {
        <app-sidebar></app-sidebar>
      }

      <main class="main-content">
        <router-outlet></router-outlet>
      </main>

    }

  </div>
</div>
