# ==========================================
# 1. DATABASE (Single Source of Truth)
# ==========================================
DB_USER=??
DB_PASSWORD=??
DB_NAME=??

# ==========================================
# 2. EVE SSO
# ==========================================
EVE_CLIENT_ID=deine_client_id
EVE_CLIENT_SECRET=dein_client_secret
EVE_SCOPES="esi-assets.read_assets.v1 esi-universe.read_structures.v1"
EVE_ESI_BASE_URL="https://esi.evetech.net/"
EVE_ALLOWED_CORP=??
EVE_ALT_CORP_IDS=??, ??

# ==========================================
# 3. SERVER & ENCRYPTION
# ==========================================
BASE_URL=http://localhost:8080/
APP_FRONTEND_URL=http://localhost:4200
APP_JWT_SECRET=??
KEYYY=??

# ==========================================
# 4. DISCORD CONFIG
# ==========================================
DISCORD_CLIENT_ID=deine_discord_id
DISCORD_CLIENT_SECRET=dein_discord_secret
DISCORD_BOT_TOKEN=dein_bot_token
DISCORD_GUILD_ID=deine_server_id